@font-face {
  font-family: "Roboto-Black";
  src: url(../Roboto-Black.ttf);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: normal;
  text-decoration: none;
}

html {
  font-size: 14px;
}

body {
  background-color: #fff;
  color: #000;
  font-family: "Roboto", sans-serif;
  border-bottom: 5px solid #572ee5;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

h1,
h2,
h3 {
  color: #572ee5;
  font-family: "Montserrat", sans-serif;
}

.dark-mode_body {
  background-color: #37383c;
  color: #fff;
  border-bottom: 5px solid #000;
}

.dark-mode_texts {
  color: #fff;
}

.top-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 5px solid #572ee5;
  padding: 20px 25px;
}

.dark-mode_top-bar {
  border-top: 5px solid #000;
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}

#logo-desktop {
  display: none;
}

.hamburger {
  color: #572ee5;
}

.dark-mode_hamburger {
  color: #fff;
}

.GIFOS-text {
  fill: #572ee5;
}

.dark-mode_GIFOS-text {
  fill: #fff;
}

nav {
  visibility: hidden;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(87, 46, 229, 0.9);
  padding-top: 1rem;
  z-index: 25;
}

nav ul {
  text-align: center;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  line-height: 60px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.071rem;
  padding: 2px;
}

nav ul li a:hover {
  border-bottom: 2px solid #5ed7c6;
}

nav ul li a:active {
  color: #9cafc3;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

.dark-mode_nav {
  background-color: #000;
}

.menu-line {
  margin: auto;
  width: 41px;
  color: #fff;
}

form {
  border: 1px solid #572ee5;
  border-radius: 27px;
  width: 89%;
  margin: auto;
  padding: 0.5rem 1rem;
}

form input[type="text"] {
  background-color: transparent;
  outline: none;
  font-size: 1.143rem;
  padding: 6px 15px;
  font-family: "Roboto", sans-serif;
  text-align: left;
  width: 100%;
}

.search-query {
  color: #000;
  border: none;
  line-height: 22px;
}

.dark_mode-search-query {
  color: #fff;
  border: none;
}

.search-field {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.suggestions {
  display: none;
}

.giphy-terms {
  color: #6b7989;
  border: none;
}

.dark-mode_form {
  border: 1px solid #fff;
}

.white {
  fill: #fff;
}

.purple {
  fill: #572ee5;
}

main {
  /*.search-gif-cards {
    width: 42%;
    margin: 1rem 0;

    img {
      width: 100%;
      height: calc(84vw / 2);
      object-fit: cover;
    }
  }*/
}

main h1 {
  font-size: 1.786rem;
  text-align: center;
  width: 76%;
  margin: auto;
  font-weight: 700;
}

main h1 .mint {
  color: #5ed7c6;
  font-weight: 700;
}

main .illustration {
  width: 76%;
  margin: 2rem auto 0 auto;
}

main .illustration img {
  width: 100%;
}

main h3 {
  font-size: 1.143rem;
  font-weight: 700;
  text-align: center;
  padding-top: 2rem;
}

main .empty {
  margin: 7.8rem auto 10.7rem auto;
}

main .alert-msg {
  color: #5ed7c6;
  font-size: 1.4rem;
  font-weight: 700;
  width: 80%;
  margin: 26px auto;
}

main .relative {
  position: relative;
}

main .btn-view-more {
  width: 127px;
  height: 50px;
  background-color: transparent;
  border-radius: 25px;
  text-align: center;
  text-transform: uppercase;
  color: #572ee5;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  border: 1px solid #572ee5;
  margin: 5rem auto 0rem auto;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

main .btn-view-more:hover {
  color: #fff;
  background-color: #572ee5;
}

main .dark-mode_btn-view-more {
  color: #fff;
  border: 1px solid #fff;
}

main .dark-mode_btn-view-more:hover {
  color: #000;
  background-color: #fff;
}

main .grey-bg {
  background-color: #f3f5f8;
}

main .dark-grey-bg {
  background-color: #222326;
}

main .trending-gifos {
  padding-top: 3rem;
  padding-bottom: 6rem;
}

main h2 {
  font-weight: bold;
  font-size: 1.429rem;
  text-align: center;
}

main h4 {
  width: 46%;
  line-height: 1.643rem;
  font-size: 1.143rem;
  margin: auto;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 2.25rem;
}

.gifs-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2.75rem 2% 0 2%;
}

.trends {
  width: 60%;
  margin: 0.5rem auto 3rem auto;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #572ee5;
  font-weight: 600;
}

.dark-mode_trends {
  color: #fff;
}

.container {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative;
  padding: 0 2rem;
  width: auto;
}

.gif {
  margin: 0.5rem;
  position: relative;
}

.gif img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.gif .icon {
  width: 16px;
  height: auto;
}

.gif-card {
  position: absolute;
  top: 0;
  background-color: rgba(87, 46, 229, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0.75rem;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  visibility: hidden;
}

.large {
  width: 243px;
  height: 187px;
}

.small {
  width: 156px;
  height: 120px;
}

.user-details {
  width: 100%;
  text-align: left;
  padding-bottom: 1rem;
}

.user {
  font-size: 15px;
}

.gif-title {
  font-size: 16px;
  font-weight: 700;
}

.white-text {
  color: #fff;
}

.montserrat-font {
  font-family: "Montserrat", sans-serif;
}

.dark-mode_user {
  color: #fff;
}

.dark-mode_gif-title {
  color: #fff;
}

footer {
  padding-top: 3rem;
}

.align-center {
  text-align: center;
}

.share {
  font-size: 1.071rem;
}

.icons {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2rem auto 3rem auto;
}

.icons .rss-icons {
  fill: #cdd6e0;
}

.icons .rss-icons:hover {
  fill: #572ee5;
}

.icons .dark-mode_rss-icons {
  fill: #cdd6e0;
}

.icons .dark-mode_rss-icons:hover {
  fill: #fff;
}

.copy {
  margin-bottom: 1.75rem;
}

.section-icon {
  margin: 75px auto 8px auto;
}

.gifo-max {
  display: none;
  -ms-grid-columns: 10% 80% 10%;
      grid-template-columns: 10% 80% 10%;
  -ms-grid-rows: 33% 33% 33%;
      grid-template-rows: 33% 33% 33%;
  height: 100vh;
  width: 100%;
  margin: auto;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background-color: #fff;
  z-index: 100;
}

.close-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.gifo-container {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.gif-content {
  width: 100%;
  height: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.actions {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 2rem;
}

.arrow-left {
  display: none;
}

.arrow-right {
  display: none;
}

.btns-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.icon-btn {
  width: 32px;
  height: 32px;
  background-color: rgba(255, 255, 255, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 6px;
  margin: 0.25rem;
}

.icon-btn:hover {
  background-color: white;
}

.space-evenly {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.justify-content-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.dark-mode_gifo-max {
  background-color: #000;
}

.create-btn {
  width: 54px;
  height: 54px;
  border-radius: 100%;
  border: 1px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px auto 0 auto;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.create-btn .GIFOS-text {
  fill: #fff;
}

.creator-container {
  margin: 14px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 50vh 12.5vh 12.5vh;
      grid-template-rows: 50vh 12.5vh 12.5vh;
  height: 100%;
}

.creator-container .btn-view-more {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  margin: 2rem auto 2rem auto;
}

.creator-container .camera {
  display: none;
}

.creator-container .creator-frame {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  border: 1px solid #572ee5;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  padding: 1rem;
  margin-bottom: .5rem;
}

.creator-container .creator-frame .video-container {
  width: 100%;
  height: 100%;
  border: 1px solid grey;
  margin: auto;
  display: block;
  position: absolute;
  top: 0;
}

.creator-container .creator-frame .text-container {
  width: 90%;
  text-align: center;
  position: relative;
  height: 95%;
}

.creator-container .creator-frame .text-container h1 {
  margin: 2rem auto;
  width: 80%;
}

.creator-container .creator-frame .text-container p {
  width: 80%;
  margin: auto;
}

.creator-container .creator-frame #img-container {
  text-align: center;
  border: 1px solid red;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.creator-container .creator-frame #img-container img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.creator-container .creator-frame .frame-details {
  width: 5%;
  height: 5%;
}

.creator-container .creator-frame .border-top {
  border-top: 1px solid #5ed7c6;
}

.creator-container .creator-frame .border-bottom {
  border-bottom: 1px solid #5ed7c6;
}

.creator-container .creator-frame .border-left {
  border-left: 1px solid #5ed7c6;
}

.creator-container .creator-frame .border-right {
  border-right: 1px solid #5ed7c6;
}

.tape {
  display: none;
}

.step-numbers {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: .5rem;
  position: relative;
}

.step-numbers .number {
  height: 32px;
  width: 32px;
  border-radius: 100%;
  color: #572ee5;
  border: 1px solid #572ee5;
  font-size: 18px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 12.5px;
  background-color: transparent;
}

.clock {
  position: absolute;
  right: 2%;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: #572ee5;
}

.clock span {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: #572ee5;
}

.upload-gif {
  background-color: rgba(87, 46, 229, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 300;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 50% 1fr;
      grid-template-columns: 1fr 50% 1fr;
  -ms-grid-rows: 40% 20% 40%;
      grid-template-rows: 40% 20% 40%;
  visibility: hidden;
}

.load-icons {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.loading-msg {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: #fff;
  font-weight: 600;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  width: 100%;
  line-height: normal;
  margin: 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.upload-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  justify-self: end;
  margin-right: 12px;
  margin-top: 12px;
  visibility: hidden;
}

#repeat-capture {
  font-family: "Montserrat", sans-serif;
  color: #572ee5;
  font-size: 13px;
  border-bottom: 2px solid #5ed7c6;
  font-weight: 700;
}

.purple-division {
  height: 7px;
  background-color: #572ee5;
  width: 100%;
  border-radius: 5px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

@media (min-width: 768px) {
  main .illustration {
    width: 50%;
    margin: 2rem auto 0 auto;
  }
  main .illustration img {
    width: 100%;
  }
  main form {
    width: 55%;
  }
  main .search-gif-cards {
    width: 30%;
    margin: 1rem 0;
  }
  main .search-gif-cards img {
    width: 100%;
    height: calc(50vw / 2);
    -o-object-fit: cover;
    object-fit: cover;
  }
  .gifo-max {
    display: none;
    -ms-grid-columns: 1fr 3fr 1fr;
        grid-template-columns: 1fr 3fr 1fr;
    -ms-grid-rows: 1fr 2fr 1fr;
        grid-template-rows: 1fr 2fr 1fr;
    height: 100vh;
    width: 100%;
    margin: auto;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 20;
  }
  .close-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    margin-left: 6rem;
  }
  .gifo-container {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .gif-content {
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .arrow-left {
    display: block;
    width: 40px;
    height: 40px;
    border: 1px solid #572ee5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: center;
        align-self: center;
    justify-self: self-end;
  }
  .arrow-left:hover {
    background-color: #572ee5;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
  .arrow-left:hover .GIFOS-text {
    fill: #fff;
  }
  .arrow-right {
    display: block;
    width: 40px;
    height: 40px;
    border: 1px solid #572ee5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: center;
        align-self: center;
    justify-self: self-start;
  }
  .arrow-right:hover {
    background-color: #572ee5;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
  .arrow-right:hover .GIFOS-text {
    fill: #fff;
  }
  .dark-mode_arrow-right {
    border: 1px solid #fff;
  }
  .dark-mode_arrow-right:hover {
    background-color: #fff;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
  .dark-mode_arrow-right:hover .GIFOS-text {
    fill: #000;
  }
  .dark-mode_arrow-left {
    border: 1px solid #fff;
  }
  .dark-mode_arrow-left:hover {
    background-color: #fff;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
  .dark-mode_arrow-left:hover .GIFOS-text {
    fill: #000;
  }
  .actions {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 2rem;
  }
  .btns-container {
    width: 18%;
  }
}

@media (min-width: 1024px) {
  .desktop-header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 2;
  }
  .dark-mode_desktop-header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #37383c;
  }
  #logo-mobile {
    display: none;
  }
  #logo-desktop {
    display: block;
  }
  .top-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-top: 5px solid #572ee5;
    padding: 20px 156px;
  }
  .dark-mode_top-bar {
    border-top: 5px solid #000;
  }
  .hamburger {
    display: none;
  }
  nav {
    visibility: visible;
    position: absolute;
    top: 5px;
    right: 156px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 40%;
    height: auto;
    background-color: transparent;
    padding-top: 20px;
    z-index: 25;
  }
  nav ul {
    text-align: center;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 90%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  nav ul li {
    list-style: none;
  }
  nav ul li a {
    color: #572ee5;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 1.071rem;
    padding: 2px;
  }
  nav ul li a:hover {
    border-bottom: 2px solid #5ed7c6;
  }
  nav ul li a:active {
    color: #9cafc3;
  }
  .menu-line {
    display: none;
  }
  .dark-mode_nav {
    background-color: transparent;
  }
  .dark-mode_nav a {
    color: #fff;
  }
  .create-btn {
    margin: 0;
    width: 54px;
    height: 54px;
    border-radius: 100%;
    border: 1px solid #572ee5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto 0 auto;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .create-btn .GIFOS-text {
    fill: #572ee5;
  }
  .create-btn:hover {
    background-color: #572ee5;
    border: none;
  }
  .create-btn:hover .GIFOS-text {
    fill: #fff;
  }
  .dark-mode_create-btn {
    border: 1px solid #fff;
  }
  .dark-mode_create-btn .GIFOS-text {
    fill: #fff;
  }
  .dark-mode_create-btn:hover {
    background-color: #fff;
    border: none;
  }
  .dark-mode_create-btn:hover .GIFOS-text {
    fill: #000;
  }
  main .search-section {
    margin-top: 75px;
  }
  main .search-section h1 {
    width: 30%;
  }
  main .illustration {
    width: 28%;
    margin: 2rem auto 0 auto;
  }
  main .illustration img {
    width: 100%;
  }
  main form {
    width: 38.2%;
  }
  main .alert-msg {
    color: #5ed7c6;
    font-size: 1.4rem;
    font-weight: 800;
    width: 30%;
    margin: 26px auto;
  }
  .large {
    width: 357px;
    height: 275px;
  }
  .small {
    width: 260px;
    height: 200px;
  }
  .gifs-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 2.75rem 7.6% 0 7.6%;
  }
  .creator-container {
    margin-top: 10px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 24% 52% 24%;
        grid-template-columns: 24% 52% 24%;
    -ms-grid-rows: 43vh 9vh 9vh;
        grid-template-rows: 43vh 9vh 9vh;
  }
  .creator-container .btn-view-more {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    margin: 2rem auto 2rem auto;
  }
  .creator-container .camera {
    display: block;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .creator-container .creator-frame {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    border: 1px solid #572ee5;
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: justify;
        align-content: space-between;
    padding: 20px;
  }
  .creator-container .creator-frame .text-container {
    width: 90%;
    text-align: center;
  }
  .creator-container .creator-frame .text-container h1 {
    padding: .5rem;
    margin: auto;
    width: 60%;
  }
  .creator-container .creator-frame .text-container p {
    width: 60%;
  }
  .creator-container .creator-frame .frame-details {
    width: 27px;
    height: 27px;
  }
  .creator-container .creator-frame .border-top {
    border-top: 1px solid #5ed7c6;
  }
  .creator-container .creator-frame .border-bottom {
    border-bottom: 1px solid #5ed7c6;
  }
  .creator-container .creator-frame .border-left {
    border-left: 1px solid #5ed7c6;
  }
  .creator-container .creator-frame .border-right {
    border-right: 1px solid #5ed7c6;
  }
  .tape {
    display: block;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    height: 100%;
    width: auto;
  }
  .step-numbers {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .step-numbers .number {
    height: 32px;
    width: 32px;
    border-radius: 100%;
    color: #572ee5;
    border: 1px solid #572ee5;
    font-size: 18px;
    font-weight: 600;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 12.5px;
    background-color: transparent;
  }
  .purple-division {
    height: 7px;
    background-color: #572ee5;
    width: 100%;
    border-radius: 5px;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 55px 156px;
  }
  footer .share {
    width: 10%;
    text-align: left;
  }
  footer .icons {
    width: 10%;
    margin: 0;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  footer .copy {
    width: 80%;
    text-align: right;
    margin-bottom: 0;
  }
}
/*# sourceMappingURL=home-styles.css.map */