$purple: #572ee5;
$mint: #5ed7c6;
$white: #fff;
$black: #000;
$grey: #f3f5f8;
$darkGrey: #6b7989;
$active: #9cafc3;
$montserrat: "Montserrat", sans-serif;
$roboto: "Roboto", sans-serif;

$darkMode_DarkGrey: #222326;
$darkMode_LightGrey: #37383c;

@font-face {
  font-family: "Roboto-Black";
  src: url(../Roboto-Black.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
  text-decoration:none;
}
html {
  font-size: 14px;
  
  
}
body {
  background-color: $white;
  color: $black;
  font-family: $roboto;
  border-bottom: 5px solid $purple;
  transition: all 0.2s ease;
  
}
h1,
h2,
h3 {
  color: $purple;
  font-family: $montserrat;
}
.dark-mode_body {
  background-color: $darkMode_LightGrey;
  color: $white;
  border-bottom: 5px solid $black;
}
.dark-mode_texts {
  color: $white;
}
.top-bar {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  border-top: 5px solid $purple;
  padding: 20px 25px;
}
.dark-mode_top-bar {
  border-top: 5px solid $black;
}
.d-block {
  display: block;
}
.d-none {
  display: none;
}
#logo-desktop {
  display: none;
}

.hamburger {
  color: $purple;
}

.dark-mode_hamburger {
  color: $white;
}

.GIFOS-text {
  fill: $purple;
}
.dark-mode_GIFOS-text {
  fill: $white;
}

nav {
  visibility: hidden;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba($color: #572ee5, $alpha: 0.9);
  padding-top: 1rem;
  z-index: 25;

  ul {
    text-align: center;
    li {
      list-style: none;
      a {
        color: $white;
        text-decoration: none;
        line-height: 60px;
        font-family: $montserrat;
        font-weight: 700;
        font-size: 1.071rem;
        padding: 2px;
        &:hover {
          border-bottom: 2px solid $mint;
        }
        &:active {
          color: $active;
        }
      }
    }
  }
}
.visible {
  visibility: visible;
}
.hidden{
  visibility: hidden;
}
.dark-mode_nav {
  background-color: $black;
}
.menu-line {
  margin: auto;
  width: 41px;
  color: $white;
}
form {
  border: 1px solid $purple;
  border-radius: 27px;
  width: 89%;
  margin: auto;
  padding: 0.5rem 1rem;
  

  input[type="text"] {    
    background-color: transparent;
    outline: none;       
    font-size: 1.143rem;    
    padding: 6px 15px;
    font-family: "Roboto", sans-serif;
    text-align: left;
    width: 100%;  
  }

}
.search-query{
  color: $black;
  border: none;
  line-height: 22px;
}
.dark_mode-search-query{
  color: $white;
  border:none;
}
.search-field{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; 

}
.suggestions {
  display: none;
}
.giphy-terms{
  color: #6b7989;
  border:none;
}

.dark-mode_form {
  border: 1px solid $white;
}
.white{
  fill:#fff;
}
.purple{
  fill:$purple;
}
main {
  h1 {
    font-size: 1.786rem;
    text-align: center;
    width: 76%;
    margin: auto;
    font-weight: 700;
    .mint {
      color: $mint;
      font-weight: 700;
    }
  }
  .illustration {
    width: 76%;
    margin: 2rem auto 0 auto;
    img {
      width: 100%;
    }
  }

  h3 {
    font-size: 1.143rem;
    font-weight: 700;
    text-align: center;
    padding-top: 2rem;
  }
  .empty {
    margin: 7.8rem auto 10.7rem auto;
  }
  .alert-msg {
    color: $mint;
    font-size: 1.4rem;
    font-weight: 700;
    width: 80%;
    margin: 26px auto;
  }
  .relative{
    position: relative;
  }

  /*.search-gif-cards {
    width: 42%;
    margin: 1rem 0;

    img {
      width: 100%;
      height: calc(84vw / 2);
      object-fit: cover;
    }
  }*/


  .btn-view-more {    
    
    width: 127px;
    height: 50px;
    background-color: transparent;
    border-radius: 25px;
    text-align: center;
    text-transform: uppercase;
    color: $purple;
    font-family: $montserrat;
    font-weight: 700;
    border: 1px solid $purple;
    margin: 5rem auto 0rem auto;
    transition: background-color 0.5s ease;
    &:hover {
      color: $white;
      background-color: $purple;
    }
  }
  
  
  .dark-mode_btn-view-more {
    color: $white;
    border: 1px solid $white;
    &:hover {
      color: $black;
      background-color: $white;
    }
  }
   
  .grey-bg {
    background-color: $grey;
  }
  .dark-grey-bg {
    background-color: $darkMode_DarkGrey;
  }
  .trending-gifos {
    padding-top: 3rem;
    padding-bottom: 6rem;
  }
  h2 {
    font-weight: bold;
    font-size: 1.429rem;
    text-align: center;
  }
  h4 {
    width: 46%;
    line-height: 1.643rem;
    font-size: 1.143rem;
    margin: auto;
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 2.25rem;
  }  
}
.gifs-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 2.75rem 2% 0 2%;
}
.trends {
  width: 60%;
  margin: 0.5rem auto 3rem auto;
  text-align: center;
  font-family: $montserrat;
  color: $purple;
  font-weight: 600;
  
}
.dark-mode_trends{
  color: $white;
}

.container {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center; 
}
.carousel {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  position: relative;
  padding: 0 2rem;
  width: auto; 
}
.gif {
  margin: 0.5rem;
  
  position: relative;
  
  img {
    
    object-fit: cover;
    width: 100%;
    height: 100%;        
  }
  .icon{
    width: 16px;
    height: auto;
  }

}
.gif-card {
  position: absolute;
  top: 0;
  background-color: rgba($color: #572ee5, $alpha: 0.6);        
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 0.75rem;
  align-content: space-between;
  visibility: hidden;
  
}
.large {
  width: 243px;
  height: 187px;
}

.small{
  width: 156px;
  height: 120px

}

.user-details {
  width: 100%;
  text-align: left;
  padding-bottom: 1rem;
}
.user {
  font-size: 15px;
}
.gif-title {
  font-size: 16px;
  font-weight: 700;
}
.white-text {
  color: $white;
}
.montserrat-font {
  font-family: $montserrat;
}
.dark-mode_user {
  color: $white;
}
.dark-mode_gif-title {
  color: $white;
}

footer {
  padding-top: 3rem;
}
.align-center {
  text-align: center;
}
.share {
  font-size: 1.071rem;
}
.icons {
  width: 25%;
  display: flex;
  justify-content: space-between;
  margin: 2rem auto 3rem auto;
  .rss-icons {
    fill: #cdd6e0;
    &:hover {
      fill: $purple;
    }
  }
  .dark-mode_rss-icons {
    fill: #cdd6e0;
    &:hover {
      fill: $white;
    }
  }
}
.copy {
  margin-bottom: 1.75rem;
}
.section-icon {
  margin: 75px auto 8px auto;
}
.gifo-max {
  display: none; //luego pasar a display grid!
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 33% 33% 33%;
  height: 100vh;
  width: 100%;
  margin: auto;
  position: sticky;
  top: 0px;
  background-color: $white;
  z-index: 100;
}
.close-icon {
  display: flex;
  grid-column: 2/3;
}
.gifo-container {
  grid-column: 2/3;
  grid-row: 2/3;
}
.gif-content {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}
.actions {
  grid-column: 2/3;
  grid-row: 3/4;
  display: flex;
  align-items: flex-start;
  margin-top: 2rem;
}
.arrow-left {
  display: none;
}
.arrow-right {
  display: none;
}

.btns-container {
  display: flex;
  width: 25%;
  align-items: flex-start;
}

.icon-btn {
  width: 32px;
  height: 32px;
  background-color: rgba($color: #fff, $alpha: 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  margin: 0.25rem;
  &:hover{
    background-color: rgba($color: #fff, $alpha: 1);
  }
}



.space-evenly {
  justify-content: space-evenly;
}
.space-between {
  justify-content: space-between;
}
.align-items-center {
  align-items: center;
}
.justify-content-end {
  justify-content: flex-end;
}
.dark-mode_gifo-max {
  background-color: $black;
}

.create-btn {
  width: 54px;
  height: 54px;
  border-radius: 100%;
  border: 1px solid $white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto 0 auto;
  transition: all 0.5s ease;
  .GIFOS-text {
    fill: $white;
  }
}
.creator-container {
  margin: 14px;  
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50vh 12.5vh 12.5vh;
  height: 100%;
  .btn-view-more {
    grid-column: 1/2;
    grid-row: 3/4;
    align-self: start;
    margin: 2rem auto 2rem auto;
  }

.camera {
    display: none;
  }
.creator-frame {
  grid-column: 1/2;
  grid-row: 1/2;
  border: 1px solid #572ee5;
  width: 100%;
  height: auto; 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  padding: 1rem;
  margin-bottom: .5rem;
  
  .video-container{
    
    width: 100%;    
    height: 100%;
    border: 1px solid grey;
    margin: auto;
    display: block;
    position: absolute;
    top:0;
  }

  .text-container {      
      width: 90%;
      text-align: center;
      position: relative;
      height: 95%;


    h1 {        
        margin: 2rem auto;
        width: 80%;
      }
      p{
        width: 80%;
        margin: auto;
      }
    

    }
  #img-container{
    text-align: center;
    border:1px solid red;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
        
  }
  
 
  .frame-details {
     width: 5%;
     height: 5%;
    }
  .border-top {
      border-top: 1px solid $mint;
    }
  .border-bottom {
      border-bottom: 1px solid $mint;
    }
  .border-left {
      border-left: 1px solid $mint;
    }
  .border-right {
      border-right: 1px solid $mint;
    }
  }
}
.tape {
 display: none;
}
.step-numbers {
  grid-column: 1/2;
  grid-row: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: .5rem;
  position: relative;
  .number {
    height: 32px;
    width: 32px;
    border-radius: 100%;
    color: $purple;
    border: 1px solid $purple;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 12.5px;
    background-color: transparent;
  
  }
}
.clock{
  position: absolute;
  right: 2%;
  font-family: $montserrat;
  font-weight: 600;
  font-size: 15px;
  color: $purple;
  span{
    font-family: $montserrat;
    font-weight: 600;
    font-size: 15px;
    color: $purple;
  }
}
.upload-gif{
  background-color: rgba($color: #572EE5 , $alpha: .6);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 300;
  display: grid;
  grid-template-columns: 1fr 50% 1fr;
  grid-template-rows: 40% 20% 40%;
  visibility: hidden;
}
.load-icons{
  grid-column: 2/3;
  grid-row: 1/2;
  justify-self: center;
  align-self: end;
}
.loading-msg{
  font-family: $montserrat;
  font-size: 15px;
  color: $white;
  font-weight: 600;  
  grid-column: 2/3;
  grid-row: 2/3;
  width: 100%;
  line-height: normal;
  margin: 0;
  align-self: center;
}
.upload-btns{
  display: flex;
  grid-column: 3/4;
  grid-row: 1/2;
  justify-self: end;
  margin-right: 12px;
  margin-top: 12px;
  visibility: hidden;
}
#repeat-capture{
  font-family: $montserrat;
  color: $purple;
  font-size: 13px;
  border-bottom: 2px solid $mint;
  font-weight: 700;
}
.purple-division {
  height: 7px;
  background-color: $purple;
  width: 100%;
  border-radius: 5px;
  grid-column: 1/2;
  grid-row: 3/4;
  align-self: start;
}



@import "partials/mediaqueries-md";
@import "partials/mediaqueries-lg";
