@media (min-width:1440px){
    main{
        .illustration{
        width: 28%;
        margin: 2rem auto 0 auto;
        img{
            width: 100%;
            }
        }
        form {
            width: 38.2%;
        }
    }
}